configuration {
	display-drun: "Run: ";
	drun-display-format: "{icon} {name}";
	font: "Iosevka Nerd Font 16";
	show-icons: true;
}

@theme "/dev/null"

* {
	bg0: #282c340F;
	bg1: #21252b;
	fg0: #abb2bf;
	fg1: #efefef;

	color: @fg1;
	background-color: transparent;

	border: 0;
	margin: 0;
	padding: 0;
	spacing: 0;
}

window {
	width: 40%;
	height: 20%;
	padding: 12px;
}
